.card-icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.card-icon{
  padding-left: 200%;
}

.card-group {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
