.toutSurApp {
  width: 90%;
  margin: 1em auto 0px auto;
  text-align: center;
}

.ui.card>.image:not(.ui)>img {
  height: 200px;
}
.ui.card>.image {
  height: 200px;
}

.button-feed:hover {
  background-color: #3282b87e !important;
}

.menu-link--active {
  background: #3282b841;
}



.card-style {
  overflow: hidden;
  border-radius: 15px !important;
  box-shadow:
    rgba(black, 0.66) 0 3px 10px 0,
    inset rgba(white, 0.5) 0 0 0 3px !important;
}
.card-style:hover {
  box-shadow:
    rgba(black, 0.66) 0 10px 15px 0,
    inset rgba(white, 0.5) 0 0 0 6px !important;
}

//je selection tous les classes content dans le parent ui-card sauf les classes "extra"
.ui.card>.content:not(.extra){
  height: 10em;
  
}

.ui.card.card-categorie>.content {
  height: 3em;
  
}

@media (max-width: 400px) {
  .ui.card.card-categorie>.content {
    height: 5em;
  }
}


//j'utilise le !important malgres la mauvaise pratique vu le manque de temps avnat la presentation
.card-article-button {
  height: 3em !important;
}


.ui.card:hover {
  background-color: rgba(0, 0, 0, 0.027);
}
