.toutSurApp {
  width: 90%;
  margin: 1em auto 0px auto;
  text-align: center;
}

.ui.card>.image:not(.ui)>img {
  height: 186px;
}
.ui.card>.image {
  height: 186px;
}
//je selection tous les classes content dans le parent ui-card sauf les classes "extra"
.ui.card>.content:not(.extra){
  height: 11em;
}

.ui.card.card-categorie>.content {
  height: 3em;
}

@media (max-width: 400px) {
  .ui.card.card-categorie>.content {
    height: 5em;
  }
}


//j'utilise le !important malgres la mauvaise pratique vu le manque de temps avnat la presentation
.card-article-button {
  height: 3em !important;
}


.ui.card>.content:hover {
  background-color: rgba(0, 0, 0, 0.075);
}


.card-group>a {
  margin: 1em;
}


