.toutSurApp {
  width: 90%;
  margin: 1em auto 0px auto;
  text-align: center;
}

.ui.card>.image:not(.ui)>img {
  height: 186px;
}
.ui.card>.image {
  height: 186px;
}

.ui.card>a>.left.aligned.content {
  height: 11em;
}

.ui.card.card-categorie>.content {
  height: 3em;
}

.ui.card>.content:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
/* .ui.card.card-categorie{
  height: 3em;
} */

.card-group>a {
  margin: 1em;
}

