.card-article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-article-header {
  padding-left: 3.7em;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2em 0px 1em 0px;
}
