.card-article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-article-header {
  padding-left: 3.7em;
}

.flex {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2em auto 2em auto;
}

.button-accueil {
  margin-top: 4em;
}

.button-feed:hover {
  background-color: #3282b87e !important;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 0px 1em 0px;
}

.h4center {
  margin: auto;
}

.ui.card>.image:not(.ui)>img {
  height: 186px;
}
.ui.card>.image {
  height: 186px;
}

.card-group>a {
  margin: 1em;
}

.ui.card>.content:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
