@use 'reset';
@use 'vars';


html {
  background-color:whitesmoke;
  };

#root {
  background-color:whitesmoke;
  height: 100%;
  width: 100%;
}


.root {
  font-family: sans-serif;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
