.connection-container{
  width: 45%;
  border: solid 1px black;
  border-radius: 0.5em;
  padding: 1em;
  margin: 100px auto 0px auto;
}

.input-text {
  text-align: left;
}


@media (max-width: 768px) {
  
  .connection-container{
    width: 80%;
    border: solid 1px black;
    border-radius: 0.5em;
    padding: 1em;
    margin: 100px auto 0px auto;
  }
  
}

