.ui.container {
  width: 100%;
  
}

.header-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.ui.header:first-child {
margin: auto 0px auto 0em;
font-size: xx-large;
font-family: 'Redressed', cursive;
}


.menu-button{
padding: 1em;
font-size: large;
}

.menu-link--active {
  background: #3282b841;
}
