.ui.container {
  width: 100%;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* outline: solid 1px red; */
}


.menu-button{
padding: 1em;
font-size: large;
}

.menu-link--active {
  background: #3282b841;
}
