.ui.container {
  width: 100%;
  
}

.header-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

  .bottom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    border-top: 2px solid #00b5ad;
    background-color: whitesmoke;
    border-radius: 10px 10px 5px 5px;
  }

.ui.secondary.menu .item {
    margin: 0;
}

.ui.menu .item>i.icon {
  margin: 0.1em;
}



.right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.ui.header:first-child {
margin: 0.25em 0px 0.25em 0em;
font-size: 3em;
font-family: 'Redressed', cursive;
}


.menu-button{
font-size: large;
}


@media only screen and (max-width: 767px) {
.ui.grid>[class*="eight column"].doubling:not(.stackable).row.row>.column, .ui.grid>[class*="five column"].doubling:not(.stackable).row.row>.column, .ui.grid>[class*="four column"].doubling:not(.stackable).row.row>.column, .ui.grid>[class*="seven column"].doubling:not(.stackable).row.row>.column, .ui.grid>[class*="six column"].doubling:not(.stackable).row.row>.column, .ui.grid>[class*="three column"].doubling:not(.stackable).row.row>.column, .ui[class*="eight column"].doubling:not(.stackable).grid>.column:not(.row), .ui[class*="eight column"].doubling:not(.stackable).grid>.row>.column, .ui[class*="five column"].doubling:not(.stackable).grid>.column:not(.row), .ui[class*="five column"].doubling:not(.stackable).grid>.row>.column, .ui[class*="four column"].doubling:not(.stackable).grid>.column:not(.row), .ui[class*="four column"].doubling:not(.stackable).grid>.row>.column, .ui[class*="seven column"].doubling:not(.stackable).grid>.column:not(.row), .ui[class*="seven column"].doubling:not(.stackable).grid>.row>.column, .ui[class*="six column"].doubling:not(.stackable).grid>.column:not(.row), .ui[class*="six column"].doubling:not(.stackable).grid>.row>.column, .ui[class*="three column"].doubling:not(.stackable).grid>.column:not(.row), .ui[class*="three column"].doubling:not(.stackable).grid>.row>.column {
    width: 100%!important;
}
}

.ui.grid>.relaxed.row>.column, .ui.relaxed.grid>.column:not(.row), .ui.relaxed.grid>.row>.column {
  padding-left: 2.2rem;
}
