.ui.container {
  width: 100%;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.ui.header:first-child {
margin: auto 0px auto 2em;
font-size: xx-large;
font-family: 'Redressed', cursive;
}


.menu-button{
padding: 1em;
font-size: large;
}

.menu-link--active {
  background: #3282b841;
}
