
.title {
  text-align: left;
  padding-left: 2em;
  padding-top: 0.5em;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  padding: 2em 0px 1em 0px;
}


/* //== Animation au hover de la carte
.card {
  will-change: transform;
  transition: transform 0.4s;
}
.card:hover {
  transition: transform 0.1s;
  transform: translateY(-7px);
} */


//== Si des personnes ont activées la préférence de réduction des animations : 
@media (prefers-reduced-motion: reduce) {
  .card {
    transition: none;
  }
}

//css du .scroll-up-button
.scroll-up-button{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  will-change: transform;
  transition: transform 0.4s;
  cursor: pointer;
  animation: fadeIn 0.3s;
}

.scroll-up-button:hover{
  transition: transform 0.1s;
  transform: translateY(-7px);
}

//fadeIn scroll-up-button
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
