.signup-container{
  width: 45%;
  border: solid 1px black;
  border-radius: 0.5em;
  padding: 1em;
  margin: 100px auto 0px auto;
}

@media (max-width: 768px) {
  
  .signup-container{
    width: 80%;
    border: solid 1px black;
    border-radius: 0.5em;
    padding: 1em;
    margin: 100px auto 0px auto;
  }
  
}
